.welcome {
    text-align: center;
    padding-top: 200px;
    color: #ffffcc;
  }

  body {
    background-color: black;
  }

  .subhead {
    text-align: center;
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
    color: #ffffcc;
  }

  nav {
    width: 100%;
    height: 50px;
    background-color: #0000ff;
    position: fixed;
    top: 0;
}

nav > ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-block: 0;
    float: left;
    width: 30%;
    height: 100%;
    list-style-type: none;
    color: white;
}

#planets {
    padding-top: 50px;
    font-size: 20px;
    color: #ccffff
  }

  .shardText {
    display: none;
  }

  .shards:hover + .shardText {
    display: block;
  }

  .investitureText {
    display: none;
  }

  .investiture:hover + .investitureText {
    display: block;
  }

  .source {
    text-align: center;
    padding-top: 250px;
  }